NET "clr" LOC = P74 | IOSTANDARD = LVTTL;
NET "g" LOC = P66 | IOSTANDARD = LVTTL;
NET "d" LOC = P57 | IOSTANDARD = LVTTL;

NET "latchout1<0>" LOC = P81 | IOSTANDARD = LVTTL;
NET "latchout1<1>" LOC = P83 | IOSTANDARD = LVTTL;
NET "latchout1<2>" LOC = P85 | IOSTANDARD = LVTTL;

NET "latchout2<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "latchout2<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "latchout2<2>" LOC = P132 | IOSTANDARD = LVTTL;

NET "latchout3<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "latchout3<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "latchout3<2>" LOC = P132 | IOSTANDARD = LVTTL;

NET "latchout4<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "latchout4<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "latchout4<2>" LOC = P132 | IOSTANDARD = LVTTL;

NET "latchout5<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "latchout5<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "latchout5<2>" LOC = P132 | IOSTANDARD = LVTTL;

NET "button0" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button1" LOC = P128 | IOSTANDARD = LVTTL | PULLDOWN;


