NET "lcd_rs" LOC = P1;
NET "lcd_rs" IOSTANDARD = LVTTL;
NET "lcd_rw" LOC = P143;
NET "lcd_rw" IOSTANDARD = LVTTL;
NET "lcd_e" LOC = P2;
NET "lcd_e" IOSTANDARD = LVTTL;
NET "lcd_databus[0]" LOC = P123;
NET "lcd_databus[0]" IOSTANDARD = LVTTL;
NET "lcd_databus[1]" LOC = P124;
NET "lcd_databus[1]" IOSTANDARD = LVTTL;
NET "lcd_databus[2]" LOC = P126;
NET "lcd_databus[2]" IOSTANDARD = LVTTL;
NET "lcd_databus[3]" LOC = P127;
NET "lcd_databus[3]" IOSTANDARD = LVTTL;
NET "lcd_databus[4]" LOC = P131;
NET "lcd_databus[4]" IOSTANDARD = LVTTL;
NET "lcd_databus<5>" LOC = P132 | IOSTANDARD = LVTTL;
NET "lcd_databus[5]" IOSTANDARD = LVTTL;
NET "lcd_databus<6>" LOC = P133 | IOSTANDARD = LVTTL;
NET "lcd_databus[6]" IOSTANDARD = LVTTL;
NET "lcd_databus<7>" LOC = P134 | IOSTANDARD = LVTTL;
NET "lcd_databus[7]" IOSTANDARD = LVTTL;
